custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/bundle
vim/sessions
vim/plugged
.netrwhist
bin/subl
tags
.idea
git/gitconfig
.DS_Store
node_modules
.git*
settings.local.json
.last-update-check
.install-progress
crons.json
skills/
